In \[1\]:

    # importing the library 
    import pandas as pd

In \[2\]:

    # giving the name of the variable as df 
    df = pd.read_csv("final_rental_bike_dataset.csv")

In \[3\]:

    df

Out\[3\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   |
| ... | ...     | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...    | ...        | ... |
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 1      | 61         | 62  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 1      | 57         | 58  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 0      | 26         | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 1      | 22         | 23  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 2      | 26         | 28  |

390 rows × 16 columns

In \[4\]:

    # giving the name of the variable as data
    data= pd.read_csv("final_rental_bike_dataset.csv")

In \[5\]:

    data

Out\[5\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   |
| ... | ...     | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...    | ...        | ... |
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 1      | 61         | 62  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 1      | 57         | 58  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 0      | 26         | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 1      | 22         | 23  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 2      | 26         | 28  |

390 rows × 16 columns

In \[6\]:

    # checking the type of data 
    # when we have fetch the data from the csv file it is converted into the dataframe 
    type(data)

Out\[6\]:

    pandas.core.frame.DataFrame

In \[9\]:

    type(df)

Out\[9\]:

    pandas.core.frame.DataFrame

In \[10\]:

    df.head()

Out\[10\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   |

In \[11\]:

    # for fetching the intial/starting 5 record of the dataset use head function 
    df.head(8)

Out\[11\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   |
| 5   | 625     | 29-01-2011 | 1      | 0   | 1    | 7   | False   | 6       | 1          | 0.16 | 0.1818 | 0.59 | 0.1045    | 1      | 4          | 5   |
| 6   | 626     | 29-01-2011 | 1      | 0   | 1    | 8   | False   | 6       | 1          | 0.18 | 0.1970 | 0.55 | 0.1642    | 3      | 31         | 34  |
| 7   | 627     | 29-01-2011 | 1      | 0   | 1    | 9   | False   | 6       | 1          | 0.18 | 0.2121 | 0.59 | 0.0896    | 0      | 34         | 34  |

In \[12\]:

    df.tail()

Out\[12\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 1      | 61         | 62  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 1      | 57         | 58  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 0      | 26         | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 1      | 22         | 23  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 2      | 26         | 28  |

In \[15\]:

    # to fetch the last 5 records in the  dataset use tail function 
    df.tail(0)

Out\[15\]:

|     | instant | dteday | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp | hum | windspeed | casual | registered | cnt |
|-----|---------|--------|--------|-----|------|-----|---------|---------|------------|------|-------|-----|-----------|--------|------------|-----|

In \[16\]:

    df.tail(6)

Out\[16\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 384 | 614     | 28-01-2011 | 1      | 0   | 1    | 19  | False   | 5       | 2          | 0.24 | 0.2424 | 0.75 | 0.1343    | 5      | 84         | 89  |
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 1      | 61         | 62  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 1      | 57         | 58  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 0      | 26         | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 1      | 22         | 23  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 2      | 26         | 28  |

In \[18\]:

    # to check the shape of the dataset use shape function 
    # 390 ,16 means 390 rows are there and 16 columns are there 
    df.shape

Out\[18\]:

    (390, 16)

In \[19\]:

    df.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 390 entries, 0 to 389
    Data columns (total 16 columns):
     #   Column      Non-Null Count  Dtype  
    ---  ------      --------------  -----  
     0   instant     390 non-null    int64  
     1   dteday      390 non-null    object 
     2   season      390 non-null    int64  
     3   yr          390 non-null    int64  
     4   mnth        390 non-null    int64  
     5   hr          390 non-null    int64  
     6   holiday     390 non-null    bool   
     7   weekday     390 non-null    int64  
     8   weathersit  390 non-null    int64  
     9   temp        390 non-null    float64
     10  atemp       390 non-null    float64
     11  hum         390 non-null    float64
     12  windspeed   390 non-null    float64
     13  casual      390 non-null    int64  
     14  registered  390 non-null    int64  
     15  cnt         390 non-null    int64  
    dtypes: bool(1), float64(4), int64(10), object(1)
    memory usage: 46.2+ KB

In \[20\]:

    df.describe()

Out\[20\]:

|       | instant     | season | yr    | mnth       | hr         | weekday    | weathersit | temp       | atemp      | hum        | windspeed  | casual     | registered | cnt        |
|-------|-------------|--------|-------|------------|------------|------------|------------|------------|------------|------------|------------|------------|------------|------------|
| count | 390.000000  | 390.0  | 390.0 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 | 390.000000 |
| mean  | 805.500000  | 1.0    | 0.0   | 1.800000   | 11.687179  | 2.989744   | 1.484615   | 0.220000   | 0.230424   | 0.613769   | 0.179416   | 5.576923   | 57.002564  | 62.579487  |
| std   | 112.727548  | 0.0    | 0.0   | 0.400514   | 6.980295   | 2.149884   | 0.663805   | 0.073095   | 0.069455   | 0.202361   | 0.138551   | 9.317478   | 49.070198  | 53.274838  |
| min   | 611.000000  | 1.0    | 0.0   | 1.000000   | 0.000000   | 0.000000   | 1.000000   | 0.060000   | 0.075800   | 0.210000   | 0.000000   | 0.000000   | 0.000000   | 1.000000   |
| 25%   | 708.250000  | 1.0    | 0.0   | 2.000000   | 6.000000   | 1.000000   | 1.000000   | 0.160000   | 0.181800   | 0.450000   | 0.089600   | 1.000000   | 17.000000  | 18.500000  |
| 50%   | 805.500000  | 1.0    | 0.0   | 2.000000   | 12.000000  | 3.000000   | 1.000000   | 0.220000   | 0.227300   | 0.600000   | 0.164200   | 3.000000   | 48.000000  | 52.000000  |
| 75%   | 902.750000  | 1.0    | 0.0   | 2.000000   | 18.000000  | 5.000000   | 2.000000   | 0.260000   | 0.272700   | 0.750000   | 0.283600   | 6.000000   | 83.750000  | 88.750000  |
| max   | 1000.000000 | 1.0    | 0.0   | 2.000000   | 23.000000  | 6.000000   | 3.000000   | 0.420000   | 0.424200   | 1.000000   | 0.582100   | 62.000000  | 236.000000 | 243.000000 |

In \[70\]:

    # accessing any of the column of the dataset named instant 
    # this column is only haveing the non- null values 
    # this column  is not having the null values 
    df['instant']

Out\[70\]:

    0      620
    1      621
    2      622
    3      623
    4      624
          ... 
    385    615
    386    616
    387    617
    388    618
    389    619
    Name: instant, Length: 390, dtype: int64

In \[72\]:

    # how many unique values are present in this column
    # there are 390 unique values in the column named instant
    df['instant'].nunique()

Out\[72\]:

    390

In \[73\]:

    # it is woking till .dot not till round bracket
    df['instant'].nunique

Out\[73\]:

    <bound method IndexOpsMixin.nunique of 0      620
    1      621
    2      622
    3      623
    4      624
          ... 
    385    615
    386    616
    387    617
    388    618
    389    619
    Name: instant, Length: 390, dtype: int64>

In \[74\]:

    df['instant'].unique()

Out\[74\]:

    array([ 620,  621,  622,  623,  624,  625,  626,  627,  628,  629,  630,
            631,  632,  633,  634,  635,  636,  637,  638,  639,  640,  641,
            642,  643,  644,  645,  646,  647,  648,  649,  650,  651,  652,
            653,  654,  655,  656,  657,  658,  659,  660,  661,  662,  663,
            664,  665,  666,  667,  668,  669,  670,  671,  672,  673,  674,
            675,  676,  677,  678,  679,  680,  681,  682,  683,  684,  685,
            686,  687,  688,  689,  690,  691,  692,  693,  694,  695,  696,
            697,  698,  699,  700,  701,  702,  703,  704,  705,  706,  707,
            708,  709,  710,  711,  712,  713,  714,  715,  716,  717,  718,
            719,  720,  721,  722,  723,  724,  725,  726,  727,  728,  729,
            730,  731,  732,  733,  734,  735,  736,  737,  738,  739,  740,
            741,  742,  743,  744,  745,  746,  747,  748,  749,  750,  751,
            752,  753,  754,  755,  756,  757,  758,  759,  760,  761,  762,
            763,  764,  765,  766,  767,  768,  769,  770,  771,  772,  773,
            774,  775,  776,  777,  778,  779,  780,  781,  782,  783,  784,
            785,  786,  787,  788,  789,  790,  791,  792,  793,  794,  795,
            796,  797,  798,  799,  800,  801,  802,  803,  804,  805,  806,
            807,  808,  809,  810,  811,  812,  813,  814,  815,  816,  817,
            818,  819,  820,  821,  822,  823,  824,  825,  826,  827,  828,
            829,  830,  831,  832,  833,  834,  835,  836,  837,  838,  839,
            840,  841,  842,  843,  844,  845,  846,  847,  848,  849,  850,
            851,  852,  853,  854,  855,  856,  857,  858,  859,  860,  861,
            862,  863,  864,  865,  866,  867,  868,  869,  870,  871,  872,
            873,  874,  875,  876,  877,  878,  879,  880,  881,  882,  883,
            884,  885,  886,  887,  888,  889,  890,  891,  892,  893,  894,
            895,  896,  897,  898,  899,  900,  901,  902,  903,  904,  905,
            906,  907,  908,  909,  910,  911,  912,  913,  914,  915,  916,
            917,  918,  919,  920,  921,  922,  923,  924,  925,  926,  927,
            928,  929,  930,  931,  932,  933,  934,  935,  936,  937,  938,
            939,  940,  941,  942,  943,  944,  945,  946,  947,  948,  949,
            950,  951,  952,  953,  954,  955,  956,  957,  958,  959,  960,
            961,  962,  963,  964,  965,  966,  967,  968,  969,  970,  971,
            972,  973,  974,  975,  976,  977,  978,  979,  980,  981,  982,
            983,  984,  985,  986,  987,  988,  989,  990,  991,  992,  993,
            994,  995,  996,  997,  998,  999, 1000,  611,  612,  613,  614,
            615,  616,  617,  618,  619], dtype=int64)

In \[75\]:

    df['season'].value_counts()

Out\[75\]:

    1    390
    Name: season, dtype: int64

In \[76\]:

    df['casual'].value_counts()
    # 0 value comes 83 times
    # 1 value comes 61 times
    # 2 value come 43 times like wise it will go on...

Out\[76\]:

    0     83
    1     61
    2     43
    3     43
    4     32
    5     23
    6     15
    7     14
    9     12
    8      9
    10     8
    12     4
    30     3
    47     3
    15     3
    11     3
    14     3
    13     3
    19     3
    28     2
    42     2
    24     2
    18     2
    17     2
    32     1
    51     1
    62     1
    58     1
    26     1
    21     1
    27     1
    22     1
    16     1
    52     1
    48     1
    40     1
    Name: casual, dtype: int64

In \[77\]:

    # total na values or null values in each column will be displayed here
    df.isna().sum()

Out\[77\]:

    instant       0
    dteday        0
    season        0
    yr            0
    mnth          0
    hr            0
    holiday       0
    weekday       0
    weathersit    0
    temp          0
    atemp         0
    hum           0
    windspeed     0
    casual        0
    registered    0
    cnt           0
    dtype: int64

In \[78\]:

    # accessing more than 1 element in the dataset 
    df[['casual','registered']]

Out\[78\]:

|     | casual | registered |
|-----|--------|------------|
| 0   | 0      | 20         |
| 1   | 0      | 15         |
| 2   | 3      | 5          |
| 3   | 1      | 2          |
| 4   | 0      | 2          |
| ... | ...    | ...        |
| 385 | 1      | 61         |
| 386 | 1      | 57         |
| 387 | 0      | 26         |
| 388 | 1      | 22         |
| 389 | 2      | 26         |

390 rows × 2 columns

In \[51\]:

    # giving the data a new variable name named new_data
    new_data=[['casual','registered']]

In \[52\]:

    # the column elements are present in the new_data
    new_data

Out\[52\]:

    [['casual', 'registered']]

In \[53\]:

    # checked the type of new_data
    type(new_data)

Out\[53\]:

    list

In \[84\]:

    # to check the columns names in the dataset 
    df.columns

Out\[84\]:

    Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
           'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
           'registered', 'cnt'],
          dtype='object')

In \[86\]:

    #  to check the index of the dataset
    df.index

Out\[86\]:

    RangeIndex(start=0, stop=390, step=1)

In \[93\]:

    # to delete the column present in the dataset 
    df=df.drop(['casual'],axis = 1)

In \[94\]:

    df

Out\[94\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 2          | 2   |
| ... | ...     | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...        | ... |
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 61         | 62  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 57         | 58  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 26         | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 22         | 23  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 26         | 28  |

390 rows × 15 columns

In \[95\]:

    df=df.drop(['instant'],axis = 1)

In \[96\]:

    df

Out\[96\]:

|     | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | registered | cnt |
|-----|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|------------|-----|
| 0   | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 20         | 20  |
| 1   | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 15         | 15  |
| 2   | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 5          | 8   |
| 3   | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 2          | 3   |
| 4   | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 2          | 2   |
| ... | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...        | ... |
| 385 | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 61         | 62  |
| 386 | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 57         | 58  |
| 387 | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 26         | 26  |
| 388 | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 22         | 23  |
| 389 | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 26         | 28  |

390 rows × 14 columns

In \[116\]:

    # getting the rows and columns based on the index provided 
    df.iloc[0:10,0:6]

Out\[116\]:

|     | dteday     | season | yr  | mnth | hr  | holiday |
|-----|------------|--------|-----|------|-----|---------|
| 0   | 29-01-2011 | 1      | 0   | 1    | 1   | False   |
| 1   | 29-01-2011 | 1      | 0   | 1    | 2   | False   |
| 2   | 29-01-2011 | 1      | 0   | 1    | 3   | False   |
| 3   | 29-01-2011 | 1      | 0   | 1    | 4   | False   |
| 4   | 29-01-2011 | 1      | 0   | 1    | 6   | False   |
| 5   | 29-01-2011 | 1      | 0   | 1    | 7   | False   |
| 6   | 29-01-2011 | 1      | 0   | 1    | 8   | False   |
| 7   | 29-01-2011 | 1      | 0   | 1    | 9   | False   |
| 8   | 29-01-2011 | 1      | 0   | 1    | 10  | False   |
| 9   | 29-01-2011 | 1      | 0   | 1    | 11  | False   |

In \[117\]:

    df['holiday'].value_counts

Out\[117\]:

    <bound method IndexOpsMixin.value_counts of 0      False
    1      False
    2      False
    3      False
    4      False
           ...  
    385    False
    386    False
    387    False
    388    False
    389    False
    Name: holiday, Length: 390, dtype: bool>

In \[118\]:

    # getting the count of values available in the weathersit column 
    df['weathersit'].value_counts

Out\[118\]:

    <bound method IndexOpsMixin.value_counts of 0      1
    1      1
    2      1
    3      1
    4      1
          ..
    385    2
    386    2
    387    1
    388    1
    389    1
    Name: weathersit, Length: 390, dtype: int64>

In \[119\]:

    # filtering the data where the weathersit column value is 1
    # [df['weathersit'] - by this command we are accessing the coloumn hving the element weathersit 
    # and if the column value is equal to 1
    # then the variable df will provide all the data
    # having the value 1 in the weathersit column in the dataset  
    df[df['weathersit']==1]

Out\[119\]:

|     | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | registered | cnt |
|-----|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|------------|-----|
| 0   | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 20         | 20  |
| 1   | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 15         | 15  |
| 2   | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 5          | 8   |
| 3   | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 2          | 3   |
| 4   | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 2          | 2   |
| ... | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...        | ... |
| 382 | 28-01-2011 | 1      | 0   | 1    | 17  | False   | 5       | 1          | 0.24 | 0.2424 | 0.75 | 0.1343    | 147        | 149 |
| 383 | 28-01-2011 | 1      | 0   | 1    | 18  | False   | 5       | 1          | 0.24 | 0.2273 | 0.75 | 0.1940    | 107        | 109 |
| 387 | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 26         | 26  |
| 388 | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 22         | 23  |
| 389 | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 26         | 28  |

238 rows × 14 columns

In \[123\]:

    df[df['weathersit']== 0.22]

Out\[123\]:

|     | dteday | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp | hum | windspeed | registered | cnt |
|-----|--------|--------|-----|------|-----|---------|---------|------------|------|-------|-----|-----------|------------|-----|

In \[125\]:

    # applied two conditions on the different columns 3
    df[df['weathersit']== 0.22],df[df['registered']>15]

Out\[125\]:

    (Empty DataFrame
     Columns: [dteday, season, yr, mnth, hr, holiday, weekday, weathersit, temp, atemp, hum, windspeed, registered, cnt]
     Index: [],
              dteday  season  yr  mnth  hr  holiday  weekday  weathersit  temp  \
     0    29-01-2011       1   0     1   1    False        6           1  0.22   
     6    29-01-2011       1   0     1   8    False        6           1  0.18   
     7    29-01-2011       1   0     1   9    False        6           1  0.18   
     8    29-01-2011       1   0     1  10    False        6           2  0.18   
     9    29-01-2011       1   0     1  11    False        6           2  0.18   
     ..          ...     ...  ..   ...  ..      ...      ...         ...   ...   
     385  28-01-2011       1   0     1  20    False        5           2  0.24   
     386  28-01-2011       1   0     1  21    False        5           2  0.22   
     387  28-01-2011       1   0     1  22    False        5           1  0.24   
     388  28-01-2011       1   0     1  23    False        5           1  0.24   
     389  29-01-2011       1   0     1   0    False        6           1  0.22   
     
           atemp   hum  windspeed  registered  cnt  
     0    0.2273  0.64     0.1940          20   20  
     6    0.1970  0.55     0.1642          31   34  
     7    0.2121  0.59     0.0896          34   34  
     8    0.2121  0.64     0.1045          51   55  
     9    0.1970  0.64     0.1343          60   64  
     ..      ...   ...        ...         ...  ...  
     385  0.2273  0.70     0.1940          61   62  
     386  0.2273  0.75     0.1343          57   58  
     387  0.2121  0.65     0.3582          26   26  
     388  0.2273  0.60     0.2239          22   23  
     389  0.1970  0.64     0.3582          26   28  
     
     [296 rows x 14 columns])

In \[129\]:

    # rename function 
    # rename the column name in the original dataset
    # basically when we will rename the column name in the original dataset 
    # it will reflect in the orignal dataset 
    df.rename(columns={'dteday':'date time'},inplace = True)

In \[130\]:

    df

Out\[130\]:

|     | date time  | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | registered | cnt |
|-----|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|------------|-----|
| 0   | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 20         | 20  |
| 1   | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 15         | 15  |
| 2   | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 5          | 8   |
| 3   | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 2          | 3   |
| 4   | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 2          | 2   |
| ... | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...        | ... |
| 385 | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 61         | 62  |
| 386 | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 57         | 58  |
| 387 | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 26         | 26  |
| 388 | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 22         | 23  |
| 389 | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 26         | 28  |

390 rows × 14 columns

In \[2\]:

    # imported the pandas library 
    import pandas as pd

In \[4\]:

    # imported the csv file in the jupyter enviroment 
    df= pd.read_csv("final_rental_bike_dataset.csv")

In \[5\]:

    # head method - checked first 5 rows of the dataset 
    df.head()

Out\[5\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   |

In \[6\]:

    # # accessing more than 1 element in the dataset 
    df[['casual','registered']]

Out\[6\]:

|     | casual | registered |
|-----|--------|------------|
| 0   | 0      | 20         |
| 1   | 0      | 15         |
| 2   | 3      | 5          |
| 3   | 1      | 2          |
| 4   | 0      | 2          |
| ... | ...    | ...        |
| 385 | 1      | 61         |
| 386 | 1      | 57         |
| 387 | 0      | 26         |
| 388 | 1      | 22         |
| 389 | 2      | 26         |

390 rows × 2 columns

In \[8\]:

    # giving the data a new variable name named new_df
    new_df = df[['casual','registered']]

In \[9\]:

    # checked the type of new_df
    type(new_df)

Out\[9\]:

    pandas.core.frame.DataFrame

In \[10\]:

    # new-df table is printed by assigning it to the new variable named new_df
    new_df

Out\[10\]:

|     | casual | registered |
|-----|--------|------------|
| 0   | 0      | 20         |
| 1   | 0      | 15         |
| 2   | 3      | 5          |
| 3   | 1      | 2          |
| 4   | 0      | 2          |
| ... | ...    | ...        |
| 385 | 1      | 61         |
| 386 | 1      | 57         |
| 387 | 0      | 26         |
| 388 | 1      | 22         |
| 389 | 2      | 26         |

390 rows × 2 columns

In \[12\]:

    # basically we are new column to the previous dataset 
    df['tdu'] = new_df['registered']

In \[13\]:

    # checked the columns ofdf as tdu is the new column created in the dataset 
    df

Out\[13\]:

|     | instant | dteday     | season | yr  | mnth | hr  | holiday | weekday | weathersit | temp | atemp  | hum  | windspeed | casual | registered | cnt | tdu |
|-----|---------|------------|--------|-----|------|-----|---------|---------|------------|------|--------|------|-----------|--------|------------|-----|-----|
| 0   | 620     | 29-01-2011 | 1      | 0   | 1    | 1   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1940    | 0      | 20         | 20  | 20  |
| 1   | 621     | 29-01-2011 | 1      | 0   | 1    | 2   | False   | 6       | 1          | 0.22 | 0.2273 | 0.64 | 0.1642    | 0      | 15         | 15  | 15  |
| 2   | 622     | 29-01-2011 | 1      | 0   | 1    | 3   | False   | 6       | 1          | 0.20 | 0.2121 | 0.64 | 0.1343    | 3      | 5          | 8   | 5   |
| 3   | 623     | 29-01-2011 | 1      | 0   | 1    | 4   | False   | 6       | 1          | 0.16 | 0.1818 | 0.69 | 0.1045    | 1      | 2          | 3   | 2   |
| 4   | 624     | 29-01-2011 | 1      | 0   | 1    | 6   | False   | 6       | 1          | 0.16 | 0.1818 | 0.64 | 0.1343    | 0      | 2          | 2   | 2   |
| ... | ...     | ...        | ...    | ... | ...  | ... | ...     | ...     | ...        | ...  | ...    | ...  | ...       | ...    | ...        | ... | ... |
| 385 | 615     | 28-01-2011 | 1      | 0   | 1    | 20  | False   | 5       | 2          | 0.24 | 0.2273 | 0.70 | 0.1940    | 1      | 61         | 62  | 61  |
| 386 | 616     | 28-01-2011 | 1      | 0   | 1    | 21  | False   | 5       | 2          | 0.22 | 0.2273 | 0.75 | 0.1343    | 1      | 57         | 58  | 57  |
| 387 | 617     | 28-01-2011 | 1      | 0   | 1    | 22  | False   | 5       | 1          | 0.24 | 0.2121 | 0.65 | 0.3582    | 0      | 26         | 26  | 26  |
| 388 | 618     | 28-01-2011 | 1      | 0   | 1    | 23  | False   | 5       | 1          | 0.24 | 0.2273 | 0.60 | 0.2239    | 1      | 22         | 23  | 22  |
| 389 | 619     | 29-01-2011 | 1      | 0   | 1    | 0   | False   | 6       | 1          | 0.22 | 0.1970 | 0.64 | 0.3582    | 2      | 26         | 28  | 26  |

390 rows × 17 columns

In \[ \]:

     

In \[ \]:

     

In \[ \]: